.main-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEBC4C;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

@media only screen and (min-width: 1024px) {

  .main-header {
    height: 400px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEBC4C;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    margin-top: 1em;
    margin-left: 1em;
  }
}