nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 999999;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav small {
  font-family: 'Source Sans Pro', sans-serif;
}

nav container {
  text-align: center;
}

nav container i {
  color: #EEBC4C;
}


#tweeter-logo {
font-size: 36px;

}
/* .navbar{
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
} */