.tweetcontainer {
  /* background-color: lightblue; */
}

.tweet-box header {
  padding-bottom: 5px;
  /* background-color: lightcoral; */
}

.tweet-box {
  border-style: solid;
}

header > div:first-child {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  color: transparent;
}

.tweet-box:hover div {
  color: #545149;
  text-shadow: 0px 0px 2px;
}

.tweet-box:hover {
  box-shadow: 10px 10px 5px lightgray;
  color: #545149;
  text-shadow: 0px 0px 2px;
}

.profile-pic {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  height: 40px;
  width: auto;
}

.username {
  padding-top: 15px;
  float: left;
  padding-left: 10px;
}

.clear {
  clear: both;
}

.timestamp {
  font-size: 15px;
  padding-left: 10px;
}

.tweet-box footer {
  border-top: 4px #545149 solid;
  /* background-color: lightgreen; */
}

.tweet-content {
  padding-left: 10px;
}